

.header-page{
  padding: 0 var(--padding-thin);

  .flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    display: flex;
    align-items: center;

    img{
      width: 50px;
      margin-right: 20px;
    }
  }

  .nav-princ{
    width: 100%;

    ul{
      display: flex;
      justify-content: space-between;

      padding: 0;
      list-style-type: none;
    }
  }
}


@media screen and (min-width: $vw-medium){
  .header-page{

    .flex{
      flex-direction: row;
    }

    .nav-princ{
      width: auto;

      li{
        margin-left: 20px;
      }
    }
  }
}